.shortenLinkModified {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    transform: translate(50%,-50%);
    top: 100%;
    right: 50%;
}

.shortenLink {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.shortenLinkContent {
    background-image: url('../assets/images/bg-boost-desktop.svg');
    background-color: hsl(260, 8%, 14%);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border-radius: 10px;
    z-index: 1;
}

.textBox {
    padding: 10px 10px;
    width: 900px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 18px;
}

.buttonShortenLink {
    padding: 0 10px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    width: 125px;
    border: transparent;
}

.buttonShortenLink:hover {
    background-color: #99e4ee;
    cursor: pointer;
}

.shortenCardLink {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 20px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 5px;
}

.short {
    color:  hsl(180, 66%, 49%);
    text-align: right;
    width: 350px;
}

.btnShort {
    background-color: hsl(180, 66%, 49%);
    color: white;
    font-weight: 500;
    padding: 5px 20px;
    border: transparent;
    border-radius: 5px;
    font-size: 18px;
}

.btnShort:hover {
    cursor: pointer;
    background-color: #99e4ee;
}

@media screen and (max-width: 1200px) {
    .shortenLinkContent {
        display: flex;
        flex-direction: column;
    }

    .textBox {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .buttonShortenLink {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        margin: 10px auto;
    }

    .shortenCardLink {
        display: flex;
        flex-direction: column;
    }

    .short {
        margin-bottom: 5px;
        text-align: center;
    }

    .ori {
        margin-bottom: 5px;
    }
}